<div class="row">
    <div class="col-md-8">
      <h1>User: <%= @user.email %></h1>
      <div>Collaborator on: <%= pluralize(@user.wikis.count, 'wiki') %> </div>
      <% @user.wikis.each do |wiki| %>
        <div>
          <%= link_to wiki.title, wiki %>
        </div>
      <% end %>
    </div>
  </div>
