<h1>Welcome to Blocipedia</h1>
<p>Here at Blocipedia we pride ourselves at providing the best platform for wikis. Our site allows you to create both public and private wikis depending on the type of information you wish to provide.</p>
<h2>Terms of Usage</h2>
<p>Blocipedia offers the ability to collaborate on any public documents with a free account. Some features, however, are only available with a premium account.</p>
