<h1>Welcome to Blocipedia</h1>
<p>Here at Blocipedia we pride ourselves at providing the best platform for wikis. Our site allows you to create both public and private wikis depending on the type of information you wish to provide.</p>
<h2>Markdown</h2>
<p>Text can be pretty boring sometimes but with Markdown everything looks better. We chose to implement Markdown in our wikis so contributors can maxmize the readability and emphsasis of the information they put in. If you're not familiar with it
  take a look at our cheat sheet to get you up and running.</p>
<br>
<h4>Quick Guide</h4>
<p>
  Markdown is pretty straightforward. If you want to change the look of some text all you have to do is add a few extra symbols to your text to tell the browser how to render the content with certain styles. Below are a few of the most common symbols that you will find yourself using:</p>
<table class="table">
  <tr>
    <th>Bold</th>
    <th>__2 Surrounding Underscores__</th>
  </tr>
  <tr>
    <td>Italics</td>
    <td>* Surrounding Asterisks*</td>
  </tr>
  <tr>
    <th>Code Indication</th>
    <th>`Surrounding Backticks`</th>
  </tr>
  <tr>
    <td>Preformatted</td>
    <td>```3 Surrounding Backticks```</td>
  </tr>
</table>
<h2>Terms of Usage</h2>
<p>Blocipedia offers the ability to collaborate on any public documents with a free account. Some features, however, are only available with a premium account.</p>
