<h1>Wikis</h1>
<p>All of the wikis thus far</p>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <% @wikis.each do |wiki| %>
        <p><%= link_to wiki.title, wiki %></p>
      <% end %>
    </h4>
  </div>
</div>
