<div class="container">
  <h1>Wikis</h1>
  <p>Browse and contribute to the world's best online encyclopedia.</p>
</div>

<% if current_user %>
  <div class="col-md-4 pull-right">
    <%= link_to "New Wiki", new_wiki_path(@wiki), class: 'btn btn-success' %>
  </div>
<% end %>

<div class="container">
  <% @wikis.each do |wiki| %>
      <% if wiki.private? %>
        <h4 class="text-warning"><%= link_to markdown(wiki.title), wiki %></h4>
      <% else %>
        <h4><%= link_to markdown(wiki.title), wiki %></h4>
      <% end %>
    <% end %>
    </div>
</div>
