<h2>Thank you for signing up for Blocipedia Premium! Your purchase of
  <strong>$15.00</strong>! has been received.</h2>
<h3>Browse
  <%= link_to "Wikis", wikis_path %>
  or Retrun to your
  <%= link_to 'Settings', edit_user_registration_path %></h3>
